ul {
  list-style: none;
  display: flex;
  margin-bottom: 10%;
}
li {
  padding: 10px;
}
table,
td,
tr {
  border: 1px, solid, black;
}
td {
  width: 300px;
}

.viewcardcss {
  background-color: #05a786;
  box-shadow: 4px 5px 4px 0px #7ff4c7;
  width: 500px;
  border: 1px solid #20ffb5;
  color: white;
}
